
    <div class="">

    <video id="sphere3d" class="video-js vjs-default-skin" preload="none" width="1920" height="1080"
      data-setup='{""}' poster="imgs/poster.jpg">
	    <source src="video/3D_Sphere_Blue_Cycle_v7.mp4" type='video/mp4' />
  	</video>

    </div><!-- /.container -->
